@media (max-width:480px){
    .header{
        position: relative;
    }
    
    .contenedor--h1__index{
        border: none;


    }
    .carrusel{
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;

}

.img--carrousel{
    width: 280px;
    height: 280px;
}

.h1--index{
    font-size: 10px;
}

.footer{

}
}

@media (max-width:1200px){
    .header{
        position: relative;
    }


}