* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #f0f8ff;
    height: 100vh;
}

a:hover{
    color:#5f9ea0;
    text-decoration: underline;
}
